.m-center-item {
    width: 221px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 19px;
}

.m-center-item__roof {
    background-image: url('images/roof.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;
    height: 32px;
}

.m-center-item__wall {
    height: 280px;
    width: 219px;
    border: solid 1px #989898;
    border-top: none;
    background-color: #fff;
}

.m-center-item .m-paragraph {
    width: auto;
    margin: 4px 20px 0px;
}

.m-center-item .m-button {
    position: absolute;
    bottom: 12px;
    left: 34px;
}

.m-center-item .m-center-item__image img {
    width: 198px;
    height: 148px;
    margin: 11px auto 8px;
}