.m-heading {
    font-family: 'argh', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    margin: 0;
    font-weight: 400;
    text-decoration: none;
}

.m-heading_type_main {    
    font-size: 25px;
    line-height: 25px;
}

.m-heading_size_px26 {
    font-size: 26px;
    line-height: 26px;
}

.m-heading_type_subsection {
    font-size: 24px;
    line-height: 24px;
}

.m-heading_size_px18 {
    font-size: 18px;
    line-height: 18px;
}